/* TODO Make this stick out farther and have a question mark icon */
#help {
  padding: 15 7;
  position: fixed; 
  bottom: 100px;
  right: -77px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  height: auto;
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  border-radius: 5px 0 0 5px;
  background-color: hsl(143 100% 95% / 1);
  border: 1px solid #757575;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

#help > span:nth-child(2) {
    width: 75px;
}

#help:hover {
  right: -1; /* On mouse-over, make the elements appear as they should */
}