@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

#help-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.4) !important;
  margin: 0 !important;
  z-index: 200;
}

#help-container.show {
  animation: fade-in 0.5s forwards;
}

#help-container.hide {
  animation: fade-in 0.5s reverse;
}

#help {
  display: flex;
  align-items: center;
  padding: 15 5px 15px 2.5px;
  position: fixed; 
  bottom: 100px;
  right: -62px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  height: auto;
  width: 83px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  border-radius: 5px 0 0 5px;
  background-color: hsl(143 100% 95% / 1);
  border: 1px solid #757575;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 201;
}

#help > span:nth-child(1) {
    font-size: x-large;
    font-family: 'Permanent Marker', cursive;
}

#help > span:nth-child(2) {
    padding-left: 18px;
}

#help:hover {
  right: -1; /* On mouse-over, make the elements appear as they should */
}

#help-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000b0 !important;
  position: fixed;
  width: calc(90vw - 150px);
  height: calc(90vh - 150px);
  padding: 50px !important;
  z-index: 200;
  border-radius: 10px !important;
  border: 1px solid #757575 !important;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

#help-dialog::before {
  content: " ";
  width: 35px;
  height: 32px;
  border-radius: 0px 10px 0px 10px;
  background-color: hsl(143 100% 95% / 1);
  border: 1px solid #757575 !important;
  position: absolute;
  top: -1;
  right: -1;
}

#help-dialog > div > h1 {
  font-family: sans-serif !important;
  text-align: center !important;
}

#help-dialog > div {
  background: hsl(143 100% 95% / 1) !important;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  border: 1px solid #757575 !important;
  font-family: monospace !important;
  padding: 10px !important;
  overflow-y: scroll;
}


@keyframes fade-in {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}