* {
    touch-action: manipulation;

    --darkmode-background: #121212;
    --darkmode-foreground-01: hsl(0 0% 19% / 1);
    --darkmode-text: hsl(0 0% 90% / 1);
}

body {
    margin: 0px;
    overflow-x: hidden;
    background: #f4f5f7;
}

body.dark {
    background: var(--darkmode-background);
}

.tab {
    margin-left: 2em;
}

#content {
    font-family: sans-serif;
    overflow-x: hidden;
    background-color: white;
    font-size: x-large;
    line-height: 2em;
    margin: 10px;
    border: 1px solid #dadce0;
    padding: 8px;
    border-radius: 10px;
}

body.dark #content {
    background-color: var(--darkmode-foreground-01);
    color: var(--darkmode-text);
    border-color: var(--darkmode-background);
}

button {
    background-color: #202124;
    border-radius: 17px;
    border-color: transparent;
    padding: 15px;
    color: white;
    cursor: pointer;
}

button:hover:not(#help) {
    background-color: #313b5a !important;
}

#bookmark {
    margin-top: 17px;
    height: fit-content;
}

#append-content-button {
    z-index: 1;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
}

#prepend-content-button {
    z-index: 1;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}

span {
    background: transparent;
}

.selected {
    animation: flash 0.5s;
}

#modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
}

#options {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    height: 150px;
    bottom: -150px;
    background-color: black;
    border-radius: 20px 20px 0px 0px;
    max-width: 700px;
    margin-left: 50%;
    transform: translateX(-50%);
}

#modal.show {
    animation: darken 0.5s forwards;
}

#modal.hide {
    animation: darken 0.5s reverse;
}

#modal.show #options {
    animation: popup 0.5s forwards;
}

#modal.hide #options {
    animation: popup 0.5s reverse;
}

@keyframes darken {
    from {
        background-color: transparent;
    }
    to {
        background-color: rgba(0,0,0,0.4);
    }
}

@keyframes popup {
    from {
        bottom: -150px;
    }
    to {
        bottom: 0px;
    }
}

@keyframes flash {
    0% {background-color: transparent;}
    50% {background-color: rgb(144, 202, 249);}
    100% {background-color: transparent;}
}