body {
    margin: 0px;
}

#content {
    font-family: sans-serif;
    overflow-x: hidden;
    background-color: #FFFDE7;
    font-size: x-large;
    line-height: 2em;
    margin: 10px;
    border: 1px solid #757575;
    padding: 8px;
    border-radius: 10px;
}

button {
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: #202124;
    border-radius: 17px;
    border-color: transparent;
    padding: 15px;
    color: white;
}

button:hover {
    background-color: #313b5a;
}

#append-content-button {
    margin-bottom: 10px;
}

#prepend-content-button {
    margin-top: 10px;
}

/* .highlight {
    background-color: rgb(144, 202, 249);
} */