body {
    margin: 0px;
}

#welcome {
    display: none;
    width: calc(100% - 22px);
    background-color: #e5e8ff;
    z-index: 10;
    text-align: center;
    height: 3em;
    line-height: 3em;
    white-space: nowrap;
    border: 1px solid #757575;
    padding: 0 10 0 10;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    top: -1px;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#content {
    font-family: sans-serif;
    overflow-x: hidden;
    background-color: #FFFDE7;
    font-size: x-large;
    line-height: 2em;
    margin: 10px;
    border: 1px solid #757575;
    padding: 8px;
    border-radius: 10px;
}

button {
    background-color: #202124;
    border-radius: 17px;
    border-color: transparent;
    padding: 15px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #313b5a;
}

#bookmark {
    margin-top: 17px;
    height: fit-content;
}

#append-content-button {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
}

#prepend-content-button {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}

span {
    background: transparent;
}

.selected {
    animation: flash 0.5s;
}

#modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
}

#options {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    height: 150px;
    bottom: -150px;
    background-color: black;
    border-radius: 20px 20px 0px 0px;
    max-width: 700px;
    margin-left: 50%;
    transform: translateX(-50%);
}

#modal.show {
    animation: darken 0.5s forwards;
}

#modal.hide {
    animation: darken 0.5s reverse;
}

#modal.show #options {
    animation: popup 0.5s forwards;
}

#modal.hide #options {
    animation: popup 0.5s reverse;
}

@keyframes darken {
    from {
        background-color: transparent;
    }
    to {
        background-color: rgba(0,0,0,0.4);
    }
}

@keyframes popup {
    from {
        bottom: -150px;
    }
    to {
        bottom: 0px;
    }
}

@keyframes flash {
    0% {background-color: transparent;}
    50% {background-color: rgb(144, 202, 249);}
    100% {background-color: transparent;}
}