body {
    margin: 0;

    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    letter-spacing: -.009em;
}

div, span, a {
    padding: 25px;
    text-align: center;

    font-size: xx-large;
}

div {
    min-height: 450px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

blockquote {
    display: none;
}

span {
    color: black;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 100px;
    display: inline-block;
    position: absolute;
    padding: 10px;
    opacity: 0;
}

.orbit span:nth-child(1) {
    animation: 12s linear 0s 1 normal both running myOrbit;
}

.orbit span:nth-child(2) {
    animation: 12s linear -2s 1 normal both running myOrbit;
}

.orbit span:nth-child(3) {
    animation: 12s linear -4s 1 normal both running myOrbit;
}

.orbit span:nth-child(4) {
    animation: 12s linear -6s 1 normal both running myOrbit;
}

.orbit span:nth-child(5) {
    animation: 12s linear -8s 1 normal both running myOrbit;
}

.orbit span:nth-child(6) {
    animation: 12s linear -10s 1 normal both running myOrbit;
}

.colors:nth-child(3n+1) {
    background-color: hsl(13, 60%, 60%);
}

.colors:nth-child(3n+2) {
    background-color: hsl(234, 20%, 60%);
}

.colors:nth-child(3n+0) {
    background-color: hsl(151, 24%, 60%);
}

#orange {
    background-image: URL(orange.svg);
    background-repeat: no-repeat;
    background-position: -200 200;
}

#revision {
    background-image: URL(revision.svg);
    background-repeat: repeat-x;
    background-size: 300px;
    background-position-y: center;
}

#studyQuestions {
    background-image: URL(study1.svg);
    background-repeat: no-repeat;
    background-position: bottom -100px right 0px;
}

#search {
    background-image: URL(magnifying-glass.svg);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: top 116% left -52px;
}

#lightbulb {
    background-image: URL(lightbulb.svg);
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: center;
}

#change {
    background-image: URL(change.svg);
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: center; 
}

.short {
    height: 70px;
    min-height: unset;
}

a {
    display: block;
    color: white;
    text-decoration: none;
}

a:hover {
    background-color:  hsl(13, 60%, 50%) !important;
}

@keyframes myOrbit {
    0% {
        transform: rotate(0deg) translateX(250px) rotate(0deg); 
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% { 
        transform: rotate(360deg) translateX(250px) rotate(-360deg); 
        opacity: 0;
    }
}
